<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Auto_Backup_Utility.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <system.diagnostics>
        <sources>
            <!-- This section defines the logging configuration for My.Application.Log -->
            <source name="DefaultSource" switchName="DefaultSwitch">
                <listeners>
                    <add name="FileLog"/>
                    <!-- Uncomment the below section to write to the Application Event Log -->
                    <!--<add name="EventLog"/>-->
                </listeners>
            </source>
        </sources>
        <switches>
            <add name="DefaultSwitch" value="Information" />
        </switches>
        <sharedListeners>
            <add name="FileLog"
                 type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL"
                 initializeData="FileLogWriter"/>
            <!-- Uncomment the below section and replace APPLICATION_NAME with the name of your application to write to the Application Event Log -->
            <!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> -->
        </sharedListeners>
    </system.diagnostics>
    <userSettings>
        <Auto_Backup_Utility.My.MySettings>
            <setting name="BackupType" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="InputFile" serializeAs="String">
                <value />
            </setting>
            <setting name="OutputDir" serializeAs="String">
                <value />
            </setting>
            <setting name="IntervalNum" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="IntervalCombo" serializeAs="String">
                <value />
            </setting>
            <setting name="CheckBoxValue1" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="CheckBoxValue2" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="CheckBoxValue3" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="CheckBoxValue4" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="FirstRun" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="StartWindows" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="StartBackup" serializeAs="String">
                <value>0</value>
            </setting>
        </Auto_Backup_Utility.My.MySettings>
    </userSettings>
</configuration>
